body {
  background: $sunglo;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $sunglo;
  margin-top: 1%;
  height: 100vh;
  padding: 0;
  img {
    height: 65%;
  }
  h1 {
    text-align: center;
    font-family: $playtone;
    color: $black;
    font-size: 8rem;
    margin: 1%;
  }
  p {
    font-family: $raleway;
    color: $white;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0.5%;
  }
}

.qrGenerator {
  margin-bottom: 3%;
}

.links {
  width: 100%;
  ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
    margin: 10px 0;
    li {
      padding-right: 10px;
    }
    a {
      text-decoration: none;
      font-family: $raleway;
      color: $white;
      font-size: 2rem;
      font-weight: 600;
      padding: 8px;
      &:hover {
        color: $deluge;
        cursor: pointer;
      }
      i {
        padding-right: 5px;
      }
    }
  }
}

.flexParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBox {
  margin-bottom: 30px;
  input {
    display: block;
    font-size: 2rem;
    background: rgba(196, 181, 184, 0.2);
    border-style: none;
    border-radius: 5px;
    font-family: $raleway;
    color: $black;
    width: 80%;
    padding: 10px 15px 15px 50px;
    margin-top: 15px;
  }
  .colorPicker {
    margin: 10px 0;
    padding: 0;
    height: 50px;
  }
}

input[name="reset"] {
  background: none;
  border: none;
  color: $sunglo;
  font-size: 1.5rem;
  text-transform: uppercase;
  &:hover {
    color: $deluge;
    cursor: pointer;
  }
}

.errorMessage,
.errorTwitter,
.errorName,
.errorTel {
  font-family: $raleway;
  color: $sunglo;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.userUrlForm,
.userTwitterForm,
.userContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 49%;
  background: $white;
  padding: 30px;
  color: $black;
  font-family: $raleway;
  font-size: 2rem;
  line-height: 2.5rem;
  border-radius: 10px;
}

.generatedPreview {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 49%;
  background: $white;
  text-align: center;
  padding: 3%;
  border-radius: 10px;
  button {
    margin: 10px auto;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.imgTest {
  max-height: 300px;
  min-height: 130px;
  height: 200px;
  max-width: 300px;
  min-width: 130px;
  width: 200px;
  background-color: white;
}
