$backgroundColor: #070600;
$secondaryColor: #23b5d3;
$fontColor: #f7f7ff;
$secondaryFontColor: #279af1;
$accentColor: #f61067;

$VT323: "VT323", monospace;
$openSans: "Open Sans", sans-serif;

/* stripping style */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

button {
  font-size: 2.5rem;
  display: block;
  margin: 0 auto;
  background-color: $accentColor;
  text-transform: uppercase;
}
