h1 {
  text-align: center;
  font-size: 9rem;
  font-family: $VT323;
}

body {
  background-color: $backgroundColor;
  color: $fontColor;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  font-family: $openSans;
}

.flexParent {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  div {
    width: 50%;
    // border: 1px solid red;
    form {
      label,
      input {
        display: block;
        font-size: 2rem;
      }
    }
  }
}

.imgTest {
  max-height: 300px;
  min-height: 130px;
  height: 200px;
  max-width: 300px;
  min-width: 130px;
  width: 200px;
  background-color: white;
}
