body {
  background: $mainColor;
  position: relative;
}

//Logo styling
.logo {
  background-color: $mainColor;
  margin-top: 1%;
  // height: 100vh;
  padding: 0;
  img {
    display: block;
    height: auto;
    width: 380px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-family: $playtone;
    color: $fontColor;
    font-size: 8rem;
    margin: 1%;
  }
  p {
    font-family: $raleway;
    color: $secondaryColor;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0.5%;
  }
  i {
    margin-top: 35px;
    font-size: 2rem;
    color: $fontColor;
    display: block;
  }

  .logoFlex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .getStarted {
    a {
      color: $secondaryColor;
      font-size: 1.8rem;
      font-family: $raleway;
    }
  }
}

//The generator styling
.qrGenerator {
  margin-top: 10%;
  padding-top: 1%;
  padding-bottom: 5%;
  height: 100vh;
}

.links {
  width: 100%;
  ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
    margin: 10px 0;
    li {
      padding-right: 10px;
    }
    a {
      text-decoration: none;
      font-family: $raleway;
      color: $secondaryColor;
      font-size: 2rem;
      font-weight: 600;
      padding: 8px;
      &:hover {
        color: $fontColor;
        cursor: pointer;
      }
      i {
        padding-right: 5px;
      }
    }
  }
}

.flexParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBox {
  margin-bottom: 30px;
  input {
    display: block;
    font-size: 2rem;
    background: rgba(196, 181, 184, 0.2);
    border-style: none;
    border-radius: 5px;
    font-family: $raleway;
    color: $fontColor;
    width: 80%;
    padding: 10px 15px 15px 50px;
    margin-top: 15px;
  }
  .colorPicker {
    margin: 10px 0;
    padding: 0;
    height: 50px;
  }
}

input[name="reset"] {
  background: none;
  border: none;
  color: $mainColor;
  font-size: 1.5rem;
  text-transform: uppercase;
  &:hover {
    color: $secondaryAccent;
    cursor: pointer;
  }
}

.errorMessage,
.errorTwitter,
.errorName,
.errorTel {
  font-family: $raleway;
  color: $mainColor;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.userUrlForm,
.userTwitterForm,
.userContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 49%;
  background: $secondaryColor;
  padding: 30px;
  color: $fontColor;
  font-family: $raleway;
  font-size: 2rem;
  line-height: 2.5rem;
  border-radius: 10px;
}

.generatedPreview {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 49%;
  background: $secondaryColor;
  text-align: center;
  padding: 3%;
  border-radius: 10px;
  button {
    margin: 10px auto;
    a {
      text-decoration: none;
      color: $secondaryColor;
    }
  }
}

.imgTest {
  max-height: 300px;
  min-height: 130px;
  height: 200px;
  max-width: 300px;
  min-width: 130px;
  width: 200px;
  background-color: white;
}

footer {
  // display: flex;
  // justify-content: center;
  // align-self: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: $fontColor;
  padding: 0.5%;
  color: $secondaryColor;
  font-family: raleway;
  font-size: 1.2rem;
  a {
    color: $mainColor;
  }
}
