html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* stripping style */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.skipLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skipLinks a {
  position: absolute;
  top: -5rem;
}

.skipLinks a:focus {
  top: 0;
  font-size: 5rem;
  font-family: "Paytone One", sans-serif;
  color: #f7f6f5;
  background: #343039;
  padding: 10px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

button {
  display: block;
  background-color: #343039;
  border-style: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #f7f6f5;
  text-align: center;
  width: 50%;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

button:hover {
  background: #8070b2;
  cursor: pointer;
}

button:focus {
  outline: 3px solid #ef6770;
}

input:focus,
input[name="reset"]:focus,
a:focus {
  outline: 3px solid black;
}

body {
  background: #ef6770;
  margin: 0;
  padding: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ef6770;
  margin-top: 1%;
  height: 100vh;
  padding: 0;
}

.logo img {
  height: 60%;
}

.logo h1 {
  text-align: center;
  font-family: "Paytone One", sans-serif;
  color: #343039;
  font-size: 8rem;
  margin: 1%;
}

.logo p {
  font-family: "Raleway", sans-serif;
  color: #f7f6f5;
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0.5%;
}

.logo i {
  margin-top: 30px;
  font-size: 2rem;
  color: #343039;
  display: block;
}

.logo .getStarted a {
  color: #f7f6f5;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}

.qrGenerator {
  padding-top: 1%;
  padding-bottom: 5%;
  height: 100vh;
}

.links {
  width: 100%;
}

.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 10px;
  margin: 10px 0;
}

.links ul li {
  padding-right: 10px;
}

.links ul a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #f7f6f5;
  font-size: 2rem;
  font-weight: 600;
  padding: 8px;
}

.links ul a:hover {
  color: #343039;
  cursor: pointer;
}

.links ul a i {
  padding-right: 5px;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputBox {
  margin-bottom: 30px;
}

.inputBox input {
  display: block;
  font-size: 2rem;
  background: rgba(196, 181, 184, 0.2);
  border-style: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  color: #343039;
  width: 80%;
  padding: 10px 15px 15px 50px;
  margin-top: 15px;
}

.inputBox .colorPicker {
  margin: 10px 0;
  padding: 0;
  height: 50px;
}

input[name="reset"] {
  background: none;
  border: none;
  color: #ef6770;
  font-size: 1.5rem;
  text-transform: uppercase;
}

input[name="reset"]:hover {
  color: #8070b2;
  cursor: pointer;
}

.errorMessage,
.errorTwitter,
.errorName,
.errorTel {
  font-family: "Raleway", sans-serif;
  color: #ef6770;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.userUrlForm,
.userTwitterForm,
.userContactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49%;
  background: #f7f6f5;
  padding: 30px;
  color: #343039;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  border-radius: 10px;
}

.generatedPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 49%;
  background: #f7f6f5;
  text-align: center;
  padding: 3%;
  border-radius: 10px;
}

.generatedPreview button {
  margin: 10px auto;
}

.generatedPreview button a {
  text-decoration: none;
  color: #f7f6f5;
}

.imgTest {
  max-height: 300px;
  min-height: 130px;
  height: 200px;
  max-width: 300px;
  min-width: 130px;
  width: 200px;
  background-color: white;
}

@media (max-width: 1200px) {
  .flexParent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .userUrlForm,
  .userTwitterForm,
  .userContactForm {
    width: 100%;
  }
  .generatedPreview {
    width: 100%;
    margin-top: 2%;
  }
}

@media (max-width: 820px) {
  .wrapper {
    width: 95%;
  }
  .logo h1 {
    font-size: 5.5rem;
    margin-top: 5%;
  }
  .logo p {
    font-size: 2rem;
  }
  .qrGenerator {
    margin-top: 15%;
  }
  .flexParent label,
  .flexParent input {
    font-size: 1.6rem;
  }
  .inputBox input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 98%;
  }
  .logo img {
    width: 90%;
  }
  .logo h1 {
    font-size: 4rem;
    margin-top: 10%;
  }
  .logo p {
    font-size: 1.5rem;
  }
  .inputBox input {
    width: 100%;
  }
}
